/*header{
	background-color: #F0F2F1;
	color: #D3B713;	
}*/


/*.active{
	background-color: red;
	color: red;	
}*/


/*body{
	background-color: #754541;	
	color: #F0F2F1;		
	font-family: 'Lora','ABeeZee', 'Montserrat', 'Andika', Helvetica, sans-serif;
	/*font-size: 16px;*/
	/*font-size: 100%;
}*/

body {
/*	background-image:url('/img/caveman6.jpg');
	background-repeat:no-repeat;
	background-position:right bottom;*/	

	background-color: #00AD68;
	color: white;
}


/*.loginarea{
	padding: 15px;*/
	/*margin: 5px;*/	
	/*background-color: #A27B2B;	
	#734240

}*/




/*.login{padding-top: 65px;}
.center{float: none; margin-left: auto; margin-right: auto;}*/


